In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Taitung,TW,2021-02-04 23:51:48,22.7583,121.1444,64.40,77,75,5.75
1,1,Rikitea,PF,2021-02-04 23:49:55,-23.1203,-134.9692,78.78,68,97,11.27
2,2,Lompoc,US,2021-02-04 23:50:46,34.6391,-120.4579,62.60,51,1,16.11
3,3,Kyabe,TD,2021-02-04 23:51:49,9.4515,18.9449,77.83,18,21,8.23
4,4,Punta Arenas,CL,2021-02-04 23:51:49,-53.1500,-70.9167,55.40,47,0,26.46

In [3]:
# Get the datatypes for all the columns in our dataframe
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
temps = []
for temp in city_data_df['Max Temp']:
    temps.append(max(temp,0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=6)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind= city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=50, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2021-02-04 23:49:55,-23.1203,-134.9692,78.78,68,97,11.27
3,3,Kyabe,TD,2021-02-04 23:51:49,9.4515,18.9449,77.83,18,21,8.23
6,6,Vaini,TO,2021-02-04 23:50:09,-21.2000,-175.2000,80.60,94,75,6.91
7,7,San Andres,CO,2021-02-04 23:51:50,12.5847,-81.7006,78.80,89,75,10.36
9,9,Hambantota,LK,2021-02-04 23:51:50,6.1241,81.1185,75.15,77,89,16.51
15,15,Puro,PH,2021-02-04 23:51:50,12.4841,123.3827,79.47,81,75,15.52
16,16,Abonnema,NG,2021-02-04 23:51:51,4.7084,6.7931,80.60,89,20,2.30
17,17,Cururupu,BR,2021-02-04 23:51:51,-1.8283,-44.8683,76.78,87,42,4.00
21,21,Champerico,GT,2021-02-04 23:50:51,14.3000,-91.9167,82.40,74,75,8.21
22,22,Avarua,CK,2021-02-04 23:51:51,-21.2078,-159.7750,84.20,70,95,5.75

In [12]:
preferred_cities_df.count()

City_ID       166
City          166
Country       166
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1      Rikitea      PF     78.78 -23.1203 -134.9692
3        Kyabe      TD     77.83   9.4515   18.9449
6        Vaini      TO     80.60 -21.2000 -175.2000
7   San Andres      CO     78.80  12.5847  -81.7006
9   Hambantota      LK     75.15   6.1241   81.1185
15        Puro      PH     79.47  12.4841  123.3827
16    Abonnema      NG     80.60   4.7084    6.7931
17    Cururupu      BR     76.78  -1.8283  -44.8683
21  Champerico      GT     82.40  14.3000  -91.9167
22      Avarua      CK     84.20 -21.2078 -159.7750

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except Exception:
        continue

In [16]:
hotel_df

           City Country  Max Temp      Lat       Lng           Hotel Name
1       Rikitea      PF     78.78 -23.1203 -134.9692       Pension Maro'i
3         Kyabe      TD     77.83   9.4515   18.9449
6         Vaini      TO     80.60 -21.2000 -175.2000  Keleti Beach Resort
7    San Andres      CO     78.80  12.5847  -81.7006   Hotel Arena Blanca
9    Hambantota      LK     75.15   6.1241   81.1185          Bungalow 63
..          ...     ...       ...      ...       ...                  ...
579   Thinadhoo      MV     81.88   0.5333   72.9333
582     Fomboni      KM     83.07 -12.2800   43.7425     Auberge les abou
589     Kismayo      SO     75.96  -0.3582   42.5454           Agan-Hotel
593    Corrente      BR     76.66  -3.7367  -43.3394  Chapadinhense Hotel
601      Moerai      PF     81.07 -22.4333 -151.3333           Le Manotel

[166 rows x 6 columns]

In [17]:
len(locations)

602

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
hotel_info[0]

"\n<dl>\n<dt>Hotel Name</dt><dd>Pension Maro'i</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Max Temp</dt><dd>78.78 °F</dd>\n</dl>\n"