## Deliverable 3. Create a Travel Itinerary Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Eureka,US,54.00,overcast clouds,40.8021,-124.1637,Eureka Inn Trademark By Wyndham
1,2,Ushuaia,AR,64.40,scattered clouds,-54.8000,-68.3000,Albatros Hotel
2,5,Amnat Charoen,TH,63.72,overcast clouds,15.9167,104.7500,หอพักนักศึกษา
3,11,Batemans Bay,AU,60.01,overcast clouds,-35.7167,150.1833,Batemans Bay Marina Resort
4,12,Hobart,AU,50.00,few clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City']=='Laurel')].reset_index()
vacation_end = vacation_start
vacation_stop1 = vacation_df.loc[(vacation_df['City']=='Rincon')].reset_index()
vacation_stop2 = vacation_df.loc[(vacation_df['City']=='Lovington')].reset_index()
vacation_stop3 = vacation_df.loc[(vacation_df['City']=='San Quintin')].reset_index()

In [11]:
vacation_stop2

,index,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,102,634,Lovington,US,60.8,clear sky,32.944,-103.3485,Buena vida rv parks

In [12]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.at[0,'Lat'], vacation_start.at[0,'Lng'])
end = (vacation_end.at[0,'Lat'], vacation_end.at[0,'Lng'])
stop1 = (vacation_stop1.at[0,'Lat'], vacation_stop1.at[0,'Lng'])
stop2 = (vacation_stop2.at[0,'Lat'], vacation_stop2.at[0,'Lng'])
stop3 = (vacation_stop3.at[0,'Lat'], vacation_stop3.at[0,'Lng'])

In [14]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(35.0, -110.0), zoom_level=4)
direction_layer = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(direction_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, 
                          vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,index,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,20,82,Laurel,US,50.00,clear sky,39.0993,-76.8483,Days Inn & Suites by Wyndham Laurel Near Fort ...
1,103,635,Rincon,US,62.60,overcast clouds,32.2960,-81.2354,Bent tree subdivision
2,102,634,Lovington,US,60.80,clear sky,32.9440,-103.3485,Buena vida rv parks
3,33,170,San Quintin,MX,60.08,overcast clouds,30.4833,-115.9500,Old Mill Hotel
4,20,82,Laurel,US,50.00,clear sky,39.0993,-76.8483,Days Inn & Suites by Wyndham Laurel Near Fort ...

In [16]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{City}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} \N{DEGREE SIGN}F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(35.0, -110.0), zoom_level=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))